

#lightbox {
    position:fixed;
    top:0; 
    left:0; 
    width:100vw; 
    height:100vh;
    background: rgba(0,0,0,.7);
    z-index: 5;
    overflow-x: scroll;
}

 header h1 {
    float: left;
    font-family: "Futura", sans-serif;
    font-weight: 70;
    font-size: 5em;
    color: #AAFFFF;
    margin: 1em;
}

#imageContainer {
    padding-top: 30vh;
    position:relative;
    left: 10%;
    width: 80%;
    
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
    transition-timing-function: ease;
}

.image {
    width: 30%;
    margin: 10px;
    border: solid 1px;
}

#routeContainer {
    width: 80vw;
    height: 100vh;
    margin: 10vw;
    margin-top: 15px;
}

.left {
    float: left;
    width: 40vw;
}

#map {

    height: 40vw;
    margin-top: inherit;
}


#routeText {
    width: 35vw;
}

.right {
    float: right;
    max-width: 40vw;
}

#routeImage {
    max-width: 40vw;
    margin-top: inherit;
}

#imageCaption {
    width: 35vw;
    text-align: right;
    word-wrap: break-word;
    float: right;
}

p{
    font-family: Futura, sans-serif;
    font-weight: 300;
    color: white;
}

body {
    background-repeat: no-repeat;
    background: #384752 url(img/beach.jpg);
    background-size: 100vw;
    background-attachment: fixed;
}

/* MEDIA QUERIES */

@media all and (max-width: 660px) {
    
    body {
    background-size: 100vmax;
    background-attachment: fixed;
}
    
    header h1{
        display: block;
        font-size: 1.5em;
        text-align: center;
        float: none;
    }
 
#imageContainer {
    padding-top: 1vh;
    left: 5%;
    width: 90%;
}

.image {
    width: 96%;
    margin: 2%;
}
    
#routeContainer {
    width: 90vw;
    margin: 5vw;
    margin-top: 15px;
}
    
.left {
    float: none;
    width: 90%;
    margin: 5%;
}
    
#map {
    width: 100%;
    height: 50vh;
}
    
#routeImage {
    max-width: 100%;
}
    
.right {
    float: none;
    max-width: 90%;
    margin: 5%;
}
    
#routeText {
    width: 100%;
    text-align: center;
}
    
#imageCaption {
    width: 100%; 
    text-align: center;
}
    
}

